@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.dropdown {
  display: none; /* Dropdown menu */
}

.container-fluid {
  background-color: #e0dace;
}

/* Header navigation : logga, huvud nav, submit btn */
.main-nav {
  background-color: #182126;
  height: 98px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.logo {
  font-family: Ubuntu, sans-serif;
  font-weight: 600;
  font-style: italic;
  color: #f27040;
  font-size: 2rem;
  text-decoration: none;
  position: relative;
  left: 7.75%;
  top: 25%;
}

.btn-bli-medlem {
  background-color: #f27040;
  font-family: Ubuntu, sans-serif;
  font-size: 0.8rem;
  width: 136px;
  height: 36px;
  border-radius: 30px;
  border: none;
  position: relative;
  right: 7.75%;
  top: 30%;
}

.btn-bli-medlem:hover {
  background-color: #e36232;
}

.head-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  color: white;
  position: relative;
  top: 35%;
  list-style-type: none;
}

.head-nav a:hover {
  color: #f27141;
}

.head-nav-item {
  text-decoration: none;
  color: white;
  font-family: Ubuntu, sans-serif;
  font-weight: 100;
}

/* Kort text om medlemskap : h1, p */
#about-lyfta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 60px 0;
}

h1 {
  font-weight: bold;
  font-size: 2.5rem;
  font-family: Ubuntu, sans-serif;
}

#about-lyfta p {
  font-family: Ubuntu, sans-serif;
  width: 31%;
  font-size: 1rem;
}

/* Olika paket och pris : 4 st img */
#price-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.price-item {
  height: 100%;
  width: 21%;
  margin: 0 1%;
  border-radius: 20px;
  -webkit-box-shadow: 5px 0 3px black;
          box-shadow: 5px 0 3px black;
}

.price-item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/* Meny : 3 st cards med text som länken  */
#body-menu {
  opacity: 80%;
  margin: 100px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f27040;
  height: 12.5%;
}

.card-img-top {
  -o-object-fit: cover;
     object-fit: cover;
}

.card {
  margin: 10% 3%;
  height: 100%;
}

.card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-title {
  font-size: 1rem;
}

.meny-link {
  text-decoration: none;
  color: #182126;
}

/* Om gymmet : h1, p */
#about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#card {
  width: 70px;
  border-radius: 3px;
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
  margin-bottom: 50px;
}

#about p {
  width: 70%;
  text-align: center;
  font-size: 1rem;
  margin-bottom: 50px;
}

/* Footer */
footer {
  background-color: #182126;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: calc(4% + 50px);
}

footer h4 {
  font-family: Ubuntu, sans-serif;
  font-weight: 600;
  font-style: italic;
  color: white;
  font-size: 2rem;
  margin: 4% 0 50px 7.5%;
}

footer a {
  text-decoration: none;
  color: white;
  font-size: 0.7rem;
  font-family: Ubuntu, sans-serif;
}

footer h5 {
  color: white;
  font-family: Ubuntu, sans-serif;
}

.customer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#footer-nav,
#footer-lyfta,
#footer-member,
#footer-customer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
  padding-left: 0;
}

.media-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 360px) and (max-width: 430px) {
  .main-nav {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .logo {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    position: relative;
    left: auto;
  }
  .head-nav {
    /*flex-direction: column;
    padding: 0;
    grid-row: 2;
    flex-basis: 100%;
    order: 1;
    left: 2%;
    align-items: center;*/
    display: none;
  }
  .dropdown {
    display: block;
    z-index: 2;
  }
  .dropbtn {
    background-color: #182126;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #e0dace;
    width: 336px;
    height: 224px;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {
    background-color: #f27141;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown:hover .dropbtn {
    background-color: #182126;
  }
  .btn-bli-medlem {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    position: relative;
    left: 1%;
    width: 40%;
  }
  #about-lyfta p {
    font-size: 0.7rem;
    width: 52%;
  }
  /* Olika paket och pris : 4 st img */
  #price-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .price-item {
    width: 40%;
    margin-bottom: 4%;
    margin-left: 2%;
    margin-right: 2%;
  }
  /* Meny : 3 st cards med text som länken  */
  #body-menu {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card {
    margin: 10% auto;
    width: 300px;
  }
  /* Om gymmet : h1, p */
  #about p {
    font-size: 0.7rem;
  }
  /* Footer */
  .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer h4 {
    margin: 1.5rem;
  }
  .nav-container,
  .lyfta-container,
  .member-container,
  .customer-container {
    display: block;
    border-top: 1px solid rgba(224, 218, 206, 0.5);
    padding: 4rem 2rem;
  }
}