$primary-color: #f27141;
$primary-font: Ubuntu, sans-serif;
@mixin logo-styles {
  font-family: Ubuntu, sans-serif;
  font-weight: 600;
  font-style: italic;
}

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  box-sizing: border-box;
}

.container-fluid {
  background-color: #e0dace;
}

/* Header navigation : logga, huvud nav, submit btn */
.main-nav {
  background-color: #182126;
  height: 98px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logo {
  @include logo-styles;
  color: $primary-color;
  font-size: 2rem;
  text-decoration: none;
  position: relative;
  left: 7.75%;
  top: 25%;
}

.btn-bli-medlem {
  background-color: $primary-color;
  font-family: $primary-font;
  font-size: 0.8rem;
  width: 136px;
  height: 36px;
  border-radius: 30px;
  border: none;
  position: relative;
  right: 7.75%;
  top: 30%;
}

.btn-bli-medlem:hover {
  background-color: #e36232;
}

.head-nav {
  display: flex;
  gap: 30px;
  color: white;
  position: relative;
  top: 35%;
  list-style-type: none;
}

.head-nav a:hover {
  color: #f27141;
}

.head-nav-item {
  text-decoration: none;
  color: white;
  font-family: $primary-font;
  font-weight: 100;
}

/* Kort text om medlemskap : h1, p */

#about-lyfta {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 60px 0;
}

h1 {
  font-weight: bold;
  font-size: 2.5rem;
  font-family: $primary-font;
}

#about-lyfta p {
  font-family: $primary-font;
  width: 31%;
  font-size: 1rem;
}

/* Olika paket och pris : 4 st img */

#price-list {
  display: flex;
  justify-content: center;
}

.price-item {
  height: 100%;
  width: 21%;
  margin: 0 1%;
  border-radius: 20px;
  box-shadow: 5px 0 3px black;
}

.price-item:hover {
  transform: scale(1.1);
}

/* Meny : 3 st cards med text som länken  */

#body-menu {
  opacity: 80%;
  margin: 100px 0;
  width: 100%;
  display: flex;
  background-color: $primary-color;
  height: 12.5%;
}

.card-img-top {
  object-fit: cover;
}

.card {
  margin: 10% 3%;
  height: 100%;
}

.card-body {
  display: flex;
  justify-content: space-between;
}

.card-title {
  font-size: 1rem;
}

.meny-link {
  text-decoration: none;
  color: #182126;
}

/* Om gymmet : h1, p */

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#card {
  width: 70px;
  border-radius: 3px;
  transform: rotate(-35deg);
  margin-bottom: 50px;
}

#about p {
  width: 70%;
  text-align: center;
  font-size: 1rem;
  margin-bottom: 50px;
}

/* Footer */
footer {
  background-color: #182126;
  display: flex;
  flex-direction: column;
}
.footer-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: calc(4% + 50px);
}

footer h4 {
  @include logo-styles;
  color: white;
  font-size: 2rem;
  margin: 4% 0 50px 7.5%;
}

footer a {
  text-decoration: none;
  color: white;
  font-size: 0.7rem;
  font-family: $primary-font;
}

footer h5 {
  color: white;
  font-family: $primary-font;
}

.customer-container {
  display: flex;
  flex-direction: column;
}

#footer-nav,
#footer-lyfta,
#footer-member,
#footer-customer {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding-left: 0;
}

.media-icon {
  display: flex;
}
