$primary-color: #f27040;
$primary-font: Ubuntu, sans-serif;
@mixin logo-styles {
  font-family: Ubuntu, sans-serif;
  font-weight: 600;
  font-style: italic;
}

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  box-sizing: border-box;
}

#page-container {
  background-color: #e0dace !important;
}

.logo {
  @include logo-styles;
  color: $primary-color;
  font-size: 1.4rem;
  text-decoration: none;
  position: relative;
  left: 3%;
}

#main-nav {
  background-color: #182126 !important;
  align-items: center;
  display: flex;
  z-index: 1;
  padding-bottom: 0;
  padding-top: 0;
}

#container-nav {
  padding: 0;
}

.btn-bli-medlem {
  background-color: $primary-color;
  font-family: $primary-font;
  font-size: 0.8rem;
  width: 136px;
  height: 36px;
  border-radius: 30px;
  border: none;
  position: relative;
  transform: scale(0.7);
}

.btn-bli-medlem:hover {
  background-color: #e36232;
}

.navbar-toggler {
  color: white !important;
  height: 7vh;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

#head-nav {
  background-color: #e0dace !important;
  width: 100%;
  margin-bottom: 0 !important;
  z-index: 1;
}

#head-nav a {
  color: black;
  font-family: $primary-font;
  font-weight: 100;
  padding: 12px 16px;
}

/* Om Lyfta */

#about-lyfta {
  display: block;
  text-align: center;
  margin: 60px 0;
}

h1 {
  font-weight: bold;
  font-size: 2.5rem;
  font-family: Ubuntu, sans-serif;
}

#about-lyfta p {
  display: inline-block;
  font-family: $primary-font;
  font-size: 0.7rem;
  width: 52%;
}

/* Olika paket och pris : 4 st img */
#price-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.price-item {
  width: 40%;
  margin-bottom: 4%;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 20px;
  box-shadow: 5px 0 3px black;
}

.price-item:hover {
  transform: scale(1.1);
}

/* Meny : 3 st cards med text som länken  */

#body-menu {
  align-items: center;
  opacity: 80%;
  margin: 100px 0;
  width: 100%;
  display: flex;
  background-color: #f27040;
  height: 12.5%;
}

.card-img-top {
  object-fit: cover;
}

.card {
  margin: 10% auto;
  width: 300px;
  margin: 20px auto;
}

.card-body {
  display: flex;
  justify-content: space-between;
}

.card-title {
  font-size: 1rem;
}

.meny-link {
  text-decoration: none;
  color: #182126;
}

/* Om gymmet : h1, p */

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about p {
  font-size: 0.7rem;
  width: 70%;
  text-align: center;
  margin-bottom: 70px;
}

#card {
  width: 70px;
  border-radius: 3px;
  transform: rotate(-35deg);
  margin-bottom: 50px;
}

/* Footer */

footer {
  background-color: #182126;
  display: block;
}

.footer-container {
  flex-direction: column;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: calc(4% + 50px);
}

footer h4 {
  margin: 1.5rem;
  @include logo-styles;
  color: white;
  font-size: 2rem;
  padding-top: 24px;
}

footer a {
  text-decoration: none;
  color: white;
  font-size: 0.7rem;
  font-family: $primary-font;
}

footer h5 {
  color: white;
  font-family: $primary-font;
}

.customer-container {
  display: flex;
  flex-direction: column;
}

.nav-container,
.lyfta-container,
.member-container,
.customer-container {
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgb(224, 218, 206, 0.5);
  padding: 4rem 2rem;
  row-gap: 10px;
}

#footer-nav,
#footer-lyfta,
#footer-member,
#footer-customer {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding-left: 0;
}

.media-icon {
  display: flex;
}

/* Responsive */

@media screen and (min-width: 768px) {
  .navbar-expand-lg .navbar-toggler {
    display: none;
  }

  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }

  #main-nav {
    padding-bottom: 16px;
    padding-top: 16px;
  }

  #head-nav {
    display: flex;
    flex-direction: row;
    background-color: #182126 !important;
  }

  .navbar-collapse {
    flex-grow: 0 !important;
  }

  #head-nav a {
    color: white;
    font-family: $primary-font;
    font-weight: 100;
    order: 2;
  }

  #head-nav a:hover {
    color: #f27141;
  }

  .btn-bli-medlem {
    order: 3;
    position: relative;
    right: 7.75%;
    transform: scale(0.9);
    font-size: 1rem;
  }

  .logo {
    position: relative;
    left: 7.75%;
  }

  /* Kort text om medlemskap : h1, p */

  #about-lyfta p {
    width: 31%;
    font-size: 1rem;
  }

  /* Olika paket och pris : 4 st img */

  #price-list {
    display: flex;
    justify-content: center;
  }

  .price-item {
    height: 100%;
    width: 21%;
    margin: 0 1%;
    border-radius: 20px;
    box-shadow: 5px 0 3px black;
  }

  /* Meny : 3 st cards med text som länken  */

  .card {
    height: 100%;
    width: 100%;
  }

  /* Om gymmet : h1, p */

  #about p {
    width: 70%;
    font-size: 1rem;
  }

  /* Footer */

  .footer-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
  }

  footer h4 {
    margin: 0 0 0 7%;
  }

  .nav-container,
  .lyfta-container,
  .member-container,
  .customer-container {
    border-top: none;
    display: block;
    padding-top: 50px;
  }
}
 /*All kod är validerad
